*.png
*.pdf
.vscode/
__pycache__/
*.so
build/
build_debug/
*.log
*.npy
*.csv
*.pt
*.pkl
*.json
result/
data/cad
data/ispd2013
data/raw
data/ariane
data/ac97_top
data/simple
data/iccad2015.tar.gz
design/
output/
platform/
misc
.venv/
*.txt
*.sh